<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madcamp_week_2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <meta-data android:name="com.kakao.sdk.AppKey" android:value="n47LaTdsZ3lCtP5cV7DB+WrH3Yg="/>


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="2435920dcfc3a79ef8712efebf322f1d"></meta-data>
        <activity android:name=".LoadingActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="Main">
        </activity>

        <activity
            android:name=".UI.Gallery.ImageActivity"
            android:label="Selected Image">
        </activity>

        <activity
            android:name=".UI.Gallery.AddActivity"
            android:label="Add Image">
        </activity>

        <activity
            android:name=".UI.Address.EntertainActivity"
            android:label="Selected Image">
        </activity>

        <activity
            android:name=".UI.Gallery.RequestActivity"
            android:label="Request Image">
        </activity>

        <activity
            android:name=".UI.Address.HotelActivity"
            android:label="Selected Image">
        </activity>

        <activity
            android:name=".UI.Address.ShopActivity"
            android:label="Selected Image">
        </activity>

        <activity
            android:name=".Login.LoginActivity"
            android:label="Selected Image">
        </activity>

        <activity
            android:name=".UI.Gallery.RatingActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="Rate Image">
        </activity>

        <activity
            android:name=".Login.CreateActivity"
            android:label="Create Account">
        </activity>

        <activity
            android:name=".Login.NextActivity"
            android:label="Create Next">
        </activity>

        <activity
            android:name=".Login.FindActivity"
            android:label="Find Account">
        </activity>

        <activity
            android:name=".UI.Myinfo.MyinfoImageActivity"
            android:label="Click MyInfo image">
        </activity>

        <activity
            android:name=".UI.Address.HospitalActivity"
            android:label="Find Account"/>

        <activity
            android:name=".UI.Address.AddressActivity"
            android:label="Find Account">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">

            </meta-data>
        </provider>

    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

</manifest>